import datetime

import httpx
from src.generator1.client_servis import AuthenticatedClient

class Pachca:
    """Главный класс библиотеки."""

    def __init__(self, token):
        self.client = AuthenticatedClient(token=token)

    {% if endpoints %}
    {% for endpoint in endpoints %}
    {{ endpoint | indent(4, first=Fasle) }}
    {% endfor %}
    {% endif %}
    